<mat-toolbar color="primary">
  <span
    ><img src="/assets/images/logo.png" alt="Our-Logo" height="30" width="41"
  /></span>
  <a mat-button routerLink="./home" routerLinkActive="active"
    ><span class="fa fa-home fa-lg"></span> Home</a
  >
  <a mat-button routerLink="./aboutus" routerLinkActive="active"
    ><span class="fa fa-info fa-lg"></span> About</a
  >
  <a mat-button routerLink="./menu" routerLinkActive="active"
    ><span class="fa fa-list fa-lg"></span> Menu</a
  >
  <a mat-button routerLink="./contactus" routerLinkActive="active"
    ><span class="fa fa-address-card fa-lg"></span> Contact</a
  >
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>

<div
  class="container jumbotron"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="10px"
>
  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Ristorante Con Fusion</h1>
    <p>
      We take inspiration from the World's best cuisines, and create a unique
      fusion experience. Our lipsmacking creations will tickle your culinary
      senses!
    </p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo.png" alt="Logo" />
  </div>
  <div fxFlex></div>
</div>
