/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables";
@import "~font-awesome/scss/font-awesome.scss";

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  background: rgb(140, 202, 221);
  margin: 5px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
}

$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #0c0616;
$primary-color-dark: #512da8;
$primary-color: #673ab7;
$primary-color-light: #d1c4e9;
$primary-color-text: #ffffff;
$accent-color: #ffc107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.background-primary {
  background-color: $background-dark !important;
}
.background-accent {
  background-color: $accent-color !important;
}
.text-floral-white {
  color: floralwhite !important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.highlight {
  background: $background-pale;
  border: 1px solid $primary-color;
  z-index: 1;
  transform: scale(1.01);
}